@if(errorMessage) {
  <p class="errorMessage">{{errorMessage}}</p>
}
<p>Users: {{users}}</p>
<ul>
  <li>{{users[0]}}</li>
  <li>{{users[1]}}</li>
  <li>{{users[2]}}</li>
  <li>{{users[3]}}</li>
</ul>
<ul>
  <li *ngFor="let user of users">{{user.name}}</li>
</ul>
<ol>
  @for(u of users; track $index; let i = $index){
    <!-- <li>{{u.id}}: {{u.name}}, {{u.email}}, {{u.lastLogin}}</li> -->
    <li (click)="selectUser(u)">{{i}}: {{u.name}}, {{u.email}}</li>
  }
</ol>
<p *ngIf="selectedUser">Selected user: {{selectedUser.name}}</p>
<p>Selected user 2: 
  @if(selectedUser){
    {{selectedUser.name}}
  } @else {
    no one
  }
</p>
<p>Selected user 3: {{selectedUser?.name || "no one"}}</p>
