<form (ngSubmit)="save()" [formGroup]="userModel">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{titleS()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>User name</mat-label>
        <input matInput formControlName="name">
        <mat-error>
          @if(name.errors) {
            @if(name.errors['required']) {
              User name is required  
            } @else if (name.errors['minlength']) {
              User name must have at least {{name.errors['minlength']['requiredLength']}} characters 
            } @else if (name.errors['serverConflict']) {
              User name exists on server 
            } @else {
              {{printErrors(name.errors)}}
            }
          }
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error>
          @if(email.errors) {
            @if(email.errors['required']) {
              Email is required  
            } @else if (email.errors['email'] || email.errors['pattern']) {
              Email is in wrong format 
            } @else if (email.errors['serverConflict']) {
              E-mail exists on server 
            } @else {
              {{printErrors(email.errors)}}
            }
          }
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"/>
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          @if(password.errors) {
            @if(password.errors['weakPassword']) {
              {{password.errors['weakPassword']}}  
            } @else {
              {{printErrors(password.errors)}}
            }
          }
          </mat-error>
      </mat-form-field>
      <mat-slide-toggle formControlName="active">User is active</mat-slide-toggle>
      <p>Belongs to groups:</p>
      <div formArrayName="groups">
        @for(group of groups.controls; track i; let i = $index ) {
          <mat-checkbox [formControlName]="i">{{allGroups[i].name}}</mat-checkbox>
        }
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="userModel.invalid">Save user</button>
    </mat-card-actions>
  </mat-card>
  </form>
  <a routerLink="/user/edit/{{userId! + 1}}">next user</a>