<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="filter($event)">
</mat-form-field>

<button mat-raised-button color="primary" (click)="addFilm()">
  Add new film
</button>

<table mat-table matSort [dataSource]="filmsS()">
  <mat-text-column name="id" headerText="ID"></mat-text-column>  
  <ng-container matColumnDef="nazov">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazov</th>
    <td mat-cell *matCellDef="let film">{{ film.nazov }}</td>
  </ng-container>
  <ng-container matColumnDef="rok">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok</th>
    <td mat-cell *matCellDef="let film">{{ film.rok }}</td>
  </ng-container>
  <ng-container matColumnDef="slovenskyNazov">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Slovenský</th>
    <td mat-cell *matCellDef="let film">{{ film.slovenskyNazov }}</td>
  </ng-container>
  <ng-container matColumnDef="afi1998">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>AFI 1998</th>
    <td mat-cell *matCellDef="let film">{{ film.poradieVRebricku["afi1998"] }}</td>
  </ng-container>
  <ng-container matColumnDef="afi2007">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>AFI 2007</th>
    <td mat-cell *matCellDef="let film">{{ film.poradieVRebricku["afi2007"] }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Edit film</th>
    <td mat-cell *matCellDef="let film">
      <button mat-icon-button color="primary" [routerLink]="['/films/edit', film.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayS()"></tr>
  <tr mat-row *matRowDef="let film; columns: columnsToDisplayS()"></tr>
</table>

@if(filmsResource.isLoading()) {
  <h2>Loading...</h2>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
} 

<mat-paginator [length]="responseS()?.totalCount || 0"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10, 50]"
               aria-label="Select page">
</mat-paginator>